<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cluster.wms.mapper.CommoditySkuMapper" >
  <resultMap id="BaseResultMap" type="com.cluster.wms.model.CommoditySku" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="com_code" property="comCode" jdbcType="VARCHAR" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="barcode" property="barcode" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="qty" property="qty" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    t.id, t.com_code, t.sku_code, t.barcode, t.title, t.name, t.qty
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="params.id != null and '' != params.id" >
        and t.id = #{params.id,jdbcType=VARCHAR}
      </if>
      <if test="params.comCode != null and '' != params.comCode" >
        and t.com_code = #{params.comCode,jdbcType=VARCHAR}
      </if>
      <if test="params.skuCode != null and '' != params.skuCode" >
        and t.sku_code = #{params.skuCode,jdbcType=VARCHAR}
      </if>
      <if test="params.barcode != null and '' != params.barcode" >
        and t.barcode = #{params.barcode,jdbcType=VARCHAR}
      </if>
      <if test="params.title != null and '' != params.title" >
        and t.title = #{params.title,jdbcType=VARCHAR}
      </if>
      <if test="params.name != null and '' != params.name" >
        and t.name = #{params.name,jdbcType=VARCHAR}
      </if>
      <if test="params.qty != null" >
        and t.qty = #{params.qty,jdbcType=INTEGER}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from commodity_sku t 
    where t.id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from commodity_sku t 
    where 1=1
    <include refid="condition" />
    order by t.com_code 
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(1) as s from commodity_sku t  where 1=1
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from commodity_sku t 
    where 1=1
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      order by t.${orderByField} 
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from commodity_sku
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.cluster.wms.model.CommoditySku" >
    delete from commodity_sku
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cluster.wms.model.CommoditySku" >
    insert into commodity_sku (id, com_code, sku_code, 
      barcode, title, name, 
      qty)
    values (#{id,jdbcType=VARCHAR}, #{comCode,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, 
      #{barcode,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{qty,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cluster.wms.model.CommoditySku" >
    insert into commodity_sku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="comCode != null" >
        com_code,
      </if>
      <if test="skuCode != null" >
        sku_code,
      </if>
      <if test="barcode != null" >
        barcode,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="qty != null" >
        qty,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="comCode != null" >
        #{comCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null" >
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <!-- 扣减库存 -->
  <update id="updateQty" parameterType="java.lang.String" >
  	update commodity_sku set qty = (qty-1) where id = #{id}
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.cluster.wms.model.CommoditySku" >
    update commodity_sku
    <set >
      <if test="comCode != null" >
        com_code = #{comCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="barcode != null" >
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cluster.wms.model.CommoditySku" >
    update commodity_sku
    set com_code = #{comCode,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      barcode = #{barcode,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>